<!DOCTYPE html>
<html lang = "en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
<style>
body {
  background-color: #ffcccc;
}
</style>
</head>
<body>

<h1><center>Sporty Shoes</center></h1>
	<div align="center">
		<form action="#" th:action="@{/sportyshoes/validateAdmin}" th:object="${admin}" method="post">
			Username   : <input type="text" name="username" th:field="*{name}"/><br /><br />
			Password   :  <input type="password" name="password" th:field="*{password}"/><br /><br />
			<input type='submit' value='Sign In'>
		</form>
	</div>
	
	</br>
	</br>
	<center>
	<th:block th:switch="${flag1}">
    	<div th:case="'wrongCredentials'">
        	<span style = 'color:Red'>Username Or Password Wrong.Try Again</span>
    	</div>
    </th:block>
	</center>

</body>
</html>