<!DOCTYPE html>
<html lang = "en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manage Products</title>
</head>
<body>

<div align = "center">
	<h1>Products List</h1>
	<form action="#" th:action="@{/home/addproduct}" th:object="${product}"method="post">
			<input type='submit' value='Add New Product'>
	</form>&nbsp;&nbsp;&nbsp;&nbsp;
	<table border="1">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Product Brand</th>
				<th>Product Size</th>
				<th>Product Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${productList}">
				<td th:text="${product.productName}"></td>
				<td th:text="${product.brand}"></td>
				<td th:text="${product.size}"></td>
				<td th:text="${product.price}"></td>
				<td > <a href="/home/updateProduct">Update</a></td>
			</tr>
		</tbody>
	</table>	
</div>	

</body>
</html>